.Cell {
    height: calc(100% / 12);
    width: calc(100% / 12);
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    box-sizing: border-box;
}

.Cell span {
    align-content: center;
    display: grid;
}

.Cell.header {
    background-color: black;
    color: white;
}